.SubnetNode {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: var(--border-radius);
  border: 10px dashed gray;
  padding: 8px;

  &_subnetId {
    font-size: 30px;
    font-weight: bold;
  }
}
