.ResourceNode {
  background-color: orange;
  border-radius: var(--border-radius);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  cursor: pointer;

  &_resourceName {
    font-size: 14px;
    font-weight: bold;
    overflow-wrap: anywhere;
  }

  &_resourceARN {
    overflow-wrap: anywhere;
    font-size: 8px;
  }

  &--isZoomed {
    background-color: red;
  }
}
