.ResourceNode {
  background-color: orange;
  border-radius: var(--border-radius);
  gap: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.4s var(--transition-timing-function);
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  gap: 15px;
  border: 2px solid black;

  &_resourceName {
    font-size: 12px;
    font-weight: bold;
    overflow-wrap: anywhere;
    padding-inline: 20px;
  }

  &_resourceARN {
    overflow-wrap: anywhere;
    font-size: 8px;
  }

  &_details {
    align-self: center;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    display: grid;
    gap: 10px;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minMax(20px, 1fr));
    border-radius: var(--border-radius);

    &_left {
      grid-column: 1 / 2;
      grid-row: span 1;
    }

    &_right {
      grid-column: 2 / 3;
      grid-row: span 1;
    }

    &_bottom {
      grid-column: 1 / -1;
      grid-row: span 1;
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: var(--border-radius);
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: darkorange;
      }
    }
  }

  &--isZoomed {
    // background-color: darkorange;

    .ResourceNode {
      // &_resourceName {
      // }
    }
  }
}
